@charset "UTF-8";
.Top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 250px 100px;
  grid-template-areas:
    "header header"
	"main main";
}
.header {
  grid-area: header;
  background-color:grey;
  color: rgb(0, 0, 0);
  height: 100px;
}
.main{
	text-align: center;
}
#menu{
	text-align: right;
}
#mgmenu{
	text-align: left;
}
.delete_item{
	background-color: rgb(180, 180, 180);
}