@charset "UTF-8";
.Top {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 250px 100px;
  grid-template-areas:
    "header header"
	"main main";
}
.header {
  grid-area: header;
  background-color:grey;
  color: rgb(0, 0, 0);
  height: 100px;
}
.main{
	text-align: center;
}
#menu{
	text-align: right;
}
#mgmenu{
	text-align: left;
}
.delete_item{
	background-color: rgb(180, 180, 180);
}

.link {
 color:white;
}

.link:visited {
 color:white;
}

.link:hover{
	color: red;
}


body{
	background-color: darkseagreen;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
}

table{
	background-color: black;
}

th{
	background-color: darkslategray;
	color: white;
}

tr{
	background-color: lightgoldenrodyellow;

}

*{
	text-decoration: none;
}

button{
	background-color: lightyellow;
}
.twobutton{
	background-color: darkseagreen;
}


.menu{
	background-color: darkred;
	margin-top: -25px;
	font-size: 30px;
}	

dialog{
	background-color: lightgoldenrodyellow;
}

button{
	color: black;
	background-color:lightyellow;
	width: 120px;
	height: 35px;
	font-size: 20px;
}
.headline{
	object-fit: cover;
}
img{
	cursor: pointer;
}

input{
	font-size: 20px;
}